  :host ::ng-deep .bx--tile {
    background: white;
  }

  .title {
    margin: 10px 0px;
  }

  :host {
    .container {
      height: 100%;
    }
    ibm-tile {
      width: 400px;
      height: 100%;
    }

    .photo {
      width: 100%;
      img {
        width: 100%;
      }
    }

  }

  :host {
    @media only screen and (max-width: 600px) {
      .photo {
        width: 90vw ;
        overflow: hidden;
        img {
          width: 100%;
        }
      }

      ibm-tile {
        width: 100%;
      }
    }

  }
