:host ::ng-deep .bx--tile {
  background: white;
}

.bid-input {
  width: 300px;
}
.container {
  display: table;
  max-width: 1300px;
  margin-right: auto;
  margin-left: auto;
}

img {
  width: 100%;
}


