<ibm-tile fxLayoutGap="20px" fxLayout="column">
  <h1>Raycast 3D Engine</h1>
  <h3>What it does?</h3>
  <p>Raycasting is a rendering technique that is used create 3D perspective from a 2D map. The most well known game that used this technique, is of course <strong>Wolfenstein 3D</strong>.
  </p>
  <div fxLayoutAlign="center">
    <img src="https://upload.wikimedia.org/wikipedia/commons/e/e7/Simple_raycasting_with_fisheye_correction.gif">
  </div>
  <div fxLayoutAlign="end" fxLayoutGap="15px">
    <button ibmButton="primary" [routerLink]="['/demo']">See demo</button>
    <button ibmButton="secondary" [routerLink]="['/edit']">Edit Level</button>
  </div>
</ibm-tile>
